/build_conan/release/*
/build-qt_template-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/*
/build-qt_template-Desktop_Qt_5_15_2_MSVC2019_64bit-MinSizeRel/*
/build-qt_template-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/*
/build_conan/debug/*
/build-qt_template-Desktop_Qt_5_15_2_MSVC2019_64bit-RelWithDebInfo/*
/CMakeLists.txt.user
